// main.scss
@use 'variables' as *;

body {
  font-family: $font-family;
}

.btn-custom {
  background-color: $primary-color;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }
}